.container {
  background-color: var(--brand-color-gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 7.2rem;
  object-fit: cover;
}

.profile {
  --image: 4.9rem;
  --spacing: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - (var(--image) / 2) - (var(--spacing) / 2));
}

.profile strong {
  font-weight: 700;
  line-height: 160%;
  color: var(--brand-color-gray-100);
  margin-top: 1.6rem;
}

.profile p {
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--brand-color-gray-400);
}

.avatar img {
  --image: 4.9rem;
  --spacing: 4px;

  width: calc(var(--image) + var(--spacing));
  height: calc(var(--image) + var(--spacing));
  border: calc(var(--spacing) / 2) solid var(--brand-color-gray-800);
  outline: calc(var(--spacing) / 2) solid var(--brand-color-green-300);
  border-radius: 8px;
}

.footer {
  border-top: 1px solid var(--brand-color-gray-600);
  margin-top: 2.4rem;
  padding: 2.4rem 3.2rem 3.2rem;
}

.footer a {
  color: var(--brand-color-green-300);
  padding: 1.6rem 1.4rem 1.4rem;
  border: 1px solid var(--brand-color-green-300);
  border-radius: 8px;

  display: flex;
  place-content: center;
  gap: 1rem;

  transition: color .1s, background-color .1s;
}

.footer a span {
  font-weight: 700;
  line-height: 1.9rem;
}

.footer a:hover {
  background-color: var(--brand-color-green-500);
  color: var(--brand-color-white);
}
