.post {
  background-color: var(--brand-color-gray-800);
  border-radius: 8px;
  padding: 4rem;
}

.post:not(:first-child) {
  margin-top: var(--gap-default);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.thumb img {
  width: calc(var(--thumb-width) + var(--thumb-spacing));
  height: calc(var(--thumb-width) + var(--thumb-spacing));
  border: calc(var(--thumb-spacing) / 2) solid var(--brand-color-gray-800);
  outline: calc(var(--thumb-spacing) / 2) solid var(--brand-color-green-300);
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info strong {
  font-weight: 700;
  line-height: 160%;
  color: var(--brand-color-gray-100);
}

.info p {
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--brand-color-gray-400);
}

.header time {
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--brand-color-gray-400);
}

.content {
  line-height: 160%;
  margin-top: 2.4rem;
}

.content p:not(:first-child) {
  margin-top: 2rem;
}

.content p a,
.content p span {
  font-weight: 700;
  color: var(--brand-color-green-500);
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: all .1s;
}

.content p span:not(:first-child) {
  margin-left: 0.5rem;
}

.content p a:hover,
.content p span:hover {
  color: var(--brand-color-green-300);
  text-decoration: underline;
}
