.container {
  --thumb-width: 4.9rem;
  --thumb-spacing: 4px;

  --gap-default: 3.2rem;

  width: 100%;
  max-width: calc(112rem + var(--gap-default));
  margin: 3.2rem auto;
  padding-left: calc(var(--gap-default) / 2);
  padding-right: calc(var(--gap-default) / 2);

  display: grid;
  grid-template-columns: 25.6rem 1fr;
  gap: var(--gap-default);
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
